<div class="patrocinadores apoio">
	<h2>Apoio</h2>
	<ul>
		<li><a href="http://www.saocamilo-es.br" title="Centro Universitário São Camilo"><img src="{{ STATIC_URL }}img/support/sao-camilo.png" alt="São Camilo"></a></li>
		<li><a href="http://www.rubyconf.com.br" title="RubyConf 2014"><img src="{{ STATIC_URL }}img/support/rubyconf.jpg" alt="RubyConf 2014"></a></li>
		<li><a href="http://www.soufabra.com.br" title="Fabra - Centro de Ensino Superior"><img src="{{ STATIC_URL }}img/support/logo_fabra.png" alt="Fabra - Centro de Ensino Superior"></a></li>
	</ul>
</div>
